<div class="fx-sidebar-overlay"></div>
		<div class="fx-sidebar" data-mode="light">
			<div class="fx-sb-logo">
				<a href="../base.html" class="sb-full"><b style="color: black">SmartCampus</b></a>
				<a href="../base.html" class="sb-collapse"><b style="color: black">LMS</b></a>
			</div>
			<div class="fx-sb-wrapper">
				<div class="fx-sb-content">
					<ul class="fx-sb-list">
						<li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-dashboard-3-line"></i>
								<span class="condense">Dashboard<i class="drop-arrow ri-arrow-down-s-line"></i></span>
							</a>
							<ul class="fx-sb-drop condense">
								<li class="list"><a href="../base.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>CRM</a></li>
								<li class="list"><a href="analytics.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Analytics</a></li>
								<li class="list"><a href="ecommerce.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>ecommerce</a></li>
								<li class="list"><a href="team.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>team</a></li>
								<li class="list"><a href="vendor-dashboard.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Vendor</a></li>
								<li class="list"><a href="ai-chat-bot.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>AI Chatbot</a></li>
							</ul>
						</li>
						<li class="fx-sb-item-separator"></li>
						<li class="fx-sb-title condense">Apps</li>
						<li class="fx-sb-item">
							<a href="{{ url_for('chat') }}" class="fx-page-link">
								<i class="ri-message-3-line"></i><span class="condense"><span
										class="hover-title">Chatapp</span> </span>
							</a>
						</li>
						<li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-shield-user-line"></i><span class="condense">Staff<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="team-profile.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Team Profile</a></li>
								<li><a href="team-add.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Team Add</a></li>
								<li><a href="team-update.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Team Update</a></li>
								<li><a href="{{ url_for('team_list') }}" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Team List</a></li>
							</ul>
						</li>
						<li class="fx-sb-item-separator"></li>
						<li class="fx-sb-title condense">Pages</li>
						<li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-pages-line"></i><span class="condense">Authentication<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="{{ url_for('login') }}" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Login</a></li>
								<li><a href="{{ url_for('reset_password') }}" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Reset password</a></li>
								<li><a href="{{ url_for('#') }}" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Remember</a></li>
							</ul>
						</li>
						<li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-service-line"></i><span class="condense">Service pages<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="404-error-page.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>404 error</a></li>
								<li><a href="404-error-page-2.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>404 error 2</a></li>
								<li><a href="maintenance.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Maintenance</a></li>
								<li><a href="maintenance-2.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Maintenance 2</a></li>
							</ul>
						</li>
						<li class="fx-sb-item-separator"></li>
						<li class="fx-sb-title condense">Settings</li>
						<li class="fx-sb-item">
							<a href="{{ url_for('role') }}" class="fx-page-link">
								<i class="ri-magic-line"></i><span class="condense"><span
										class="hover-title">Role</span></span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>