<div class="fx-sidebar-overlay"></div>
		<div class="fx-sidebar" data-mode="light">
			<div class="fx-sb-logo">
				<a href="../base.html" class="sb-full"><img src="../../static/assets/img/logo/full-logo.png" alt="logo"></a>
				<a href="../base.html" class="sb-collapse"><img src="../../static/assets/img/logo/collapse-logo.png" alt="logo"></a>
			</div>
			<div class="fx-sb-wrapper">
				<div class="fx-sb-content">
					<ul class="fx-sb-list">
						<li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-dashboard-3-line"></i>
								<span class="condense">Dashboard<i class="drop-arrow ri-arrow-down-s-line"></i></span>
							</a>
							<ul class="fx-sb-drop condense">
								<li class="list"><a href="../base.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>CRM</a></li>
								<li class="list"><a href="analytics.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Analytics</a></li>
								<li class="list"><a href="ecommerce.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>ecommerce</a></li>
								<li class="list"><a href="team.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>team</a></li>
								<li class="list"><a href="vendor-dashboard.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Vendor</a></li>
								<li class="list"><a href="ai-chat-bot.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>AI Chatbot</a></li>
							</ul>
						</li>
						<li class="fx-sb-item-separator"></li>
						<li class="fx-sb-title condense">Apps</li>
						<li class="fx-sb-item">
							<a href="chatapp.html" class="fx-page-link">
								<i class="ri-message-3-line"></i><span class="condense"><span
										class="hover-title">Chatapp</span> </span>
							</a>
						</li>
						<li class="fx-sb-item">
							<a href="todo.html" class="fx-page-link">
								<i class="ri-todo-line"></i><span class="condense"><span
										class="hover-title">Todo</span></span>
							</a>
						</li>
						<li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-shield-user-line"></i><span class="condense">Staff<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="team-profile.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Team Profile</a></li>
								<li><a href="team-add.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Team Add</a></li>
								<li><a href="team-update.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Team Update</a></li>
								<li><a href="team-list.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Team List</a></li>
							</ul>
						</li>
						<li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-shopping-cart-line"></i><span class="condense">eCommerce<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="product-list.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Product list</a></li>
								<li><a href="add-product.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Add Product</a></li>
								<li><a href="add-category.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Add Category</a></li>
								<li><a href="add-sub-category.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Add Sub Category</a></li>
								<li><a href="order-list.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Order List</a></li>
								<li class="fx-sb-item sb-subdrop-item">
									<a href="javascript:void(0)" class="fx-sub-drop-toggle">
										<i class="ri-shield-user-line"></i><span class="condense">Vendor<i
												class="drop-arrow ri-arrow-down-s-line"></i></span></a>
									<ul class="fx-sb-subdrop condense">
										<li><a href="vendor-profile.html" class="fx-page-link subdrop"><i
													class="ri-git-commit-line"></i>Profile</a></li>
										<li><a href="vendor-update.html" class="fx-page-link subdrop"><i
													class="ri-git-commit-line"></i>Vendor Update</a></li>
										<li><a href="vendor-list.html" class="fx-page-link subdrop"><i
													class="ri-git-commit-line"></i>Vendor List</a></li>
										<li><a href="invoice.html" class="fx-page-link subdrop"><i
													class="ri-git-commit-line"></i>Invoice</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-file-chart-line"></i><span class="condense">Project<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="project-list.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Project list</a></li>
								<li><a href="project-overview.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Overview</a></li>
								<li><a href="create-project.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Create Project</a></li>
							</ul>
						</li>
						<li class="fx-sb-item-separator"></li>
						<li class="fx-sb-title condense">Pages</li>
						<li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-pages-line"></i><span class="condense">Authentication<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="signin.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Login</a></li>
								<li><a href="signin-2.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Login 2</a></li>
								<li><a href="signup.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Signup</a></li>
								<li><a href="signup-2.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Signup 2</a></li>
								<li><a href="forgot.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Forgot password</a></li>
								<li><a href="forgot-2.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Forgot password 2</a></li>
								<li><a href="two-factor.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>two factor</a></li>
								<li><a href="two-factor-2.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>two factor 2</a></li>
								<li><a href="reset-password.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Reset password</a></li>
								<li><a href="reset-password-2.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Reset password 2</a></li>
								<li><a href="remember.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Remember</a></li>
								<li><a href="remember-2.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Remember 2</a></li>
							</ul>
						</li>
						<li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-service-line"></i><span class="condense">Service pages<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="404-error-page.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>404 error</a></li>
								<li><a href="404-error-page-2.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>404 error 2</a></li>
								<li><a href="maintenance.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Maintenance</a></li>
								<li><a href="maintenance-2.html" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Maintenance 2</a></li>
							</ul>
						</li>
						<li class="fx-sb-item-separator"></li>
						<li class="fx-sb-title condense">Elements</li>
						<li class="fx-sb-item">
							<a href="remix-icons.html" class="fx-page-link">
								<i class="ri-remixicon-line"></i><span class="condense"><span class="hover-title">remix
										icons</span></span></a>
						</li>
						<li class="fx-sb-item">
							<a href="material-icons.html" class="fx-page-link">
								<i class="mdi mdi-material-ui"></i><span class="condense"><span
										class="hover-title">Material icons</span></span></a>
						</li>
						<li class="fx-sb-item">
							<a href="widgets.html" class="fx-page-link">
								<i class="ri-bar-chart-grouped-line"></i><span class="condense">
									<span class="hover-title">Widgets</span></span>
							</a>
						</li>
						<li class="fx-sb-item">
							<a href="apexchart.html" class="fx-page-link">
								<i class="ri-bar-chart-grouped-line"></i><span class="condense"><span
										class="hover-title">Apexcharts</span></span></a>
						</li>
						<li class="fx-sb-item">
							<a href="buttons.html" class="fx-page-link">
								<i class="ri-radio-button-line"></i><span class="condense"><span
										class="hover-title">Buttons</span></span></a>
						</li>
						<li class="fx-sb-item">
							<a href="accordions.html" class="fx-page-link">
								<i class="ri-play-list-add-line"></i><span class="condense"><span
										class="hover-title">Accordions</span></span></a>
						</li>
						<li class="fx-sb-item">
							<a href="typography.html" class="fx-page-link">
								<i class="ri-file-text-line"></i><span class="condense"><span
										class="hover-title">Typography</span></span></a>
						</li>
						<li class="fx-sb-item">
							<a href="alert-popup.html" class="fx-page-link">
								<i class="ri-file-warning-line"></i><span class="condense"><span
										class="hover-title">Alert Popup</span></span></a>
						</li>
						<li class="fx-sb-item-separator"></li>
						<li class="fx-sb-title condense">Settings</li>
						<li class="fx-sb-item">
							<a href="role.html" class="fx-page-link">
								<i class="ri-magic-line"></i><span class="condense"><span
										class="hover-title">Role</span></span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>