<div class="fx-sidebar-overlay"></div>
		<div class="fx-sidebar" data-mode="light">
			<div class="fx-sb-logo">
				<a href="../base.html" class="sb-full"><b style="color: black">SmartCampus</b></a>
				<a href="../base.html" class="sb-collapse"><b style="color: black">LMS</b></a>
			</div>
			<div class="fx-sb-wrapper">
				<div class="fx-sb-content">

					<ul class="fx-sb-list">
						<li class="fx-sb-title condense">Main</li>
						<li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-dashboard-3-line"></i>
								<span class="condense">Dashboard<i class="drop-arrow ri-arrow-down-s-line"></i></span>
							</a>
							<ul class="fx-sb-drop condense">
								<li class="list"><a href="/admin/dashboard" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>CRM</a></li>
								<li class="list"><a href="/admin/dashboard" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Faculty Dashboard</a></li>
								<li class="list"><a href="/admin/dashboard" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Student Dashboard</a></li>
							</ul>
						</li>
                        <li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-user-3-fill"></i><span class="condense">Faculty<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="/faculty/faculty-list" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Faculty List</a></li>
								<li><a href="/faculty/add-faculty" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Add Faculty</a></li>
								<li><a href="" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Faculty Profile</a></li>
							</ul>
						</li>
                        <li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-team-line"></i><span class="condense">Student<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="/student/student-list" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Student List</a></li>
								<li><a href="/student/add-student" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Add Student</a></li>
							</ul>
						</li>

						<li class="fx-sb-item-separator"></li>
						<li class="fx-sb-title condense">University/College</li>
                        <li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-briefcase-line"></i>
								<span class="condense">Front Office<i class="drop-arrow ri-arrow-down-s-line"></i></span>
							</a>
							<ul class="fx-sb-drop condense">
								<li class="list"><a href="" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Admission Inquery</a></li>
								<li class="list"><a href="" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Visitors Book</a></li>
								<li class="list"><a href="" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Complaints</a></li>
							</ul>
						</li>
                        <li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-graduation-cap-fill"></i><span class="condense">Course<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="/course/add-course" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Add Course</a></li>
                                <li><a href="/course/all-course" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Course List</a></li>
                                <li><a href="/course/add-subject" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Add Subject</a></li>
							</ul>
						</li>

                        <li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-git-repository-line"></i><span class="condense">Library<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="/library/library-list" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Library Assets List</a></li>
								<li><a href="/library/add-library" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Add Library Assets</a></li>
                                <li><a href="/library/stock-list" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Book Stock Status</a></li>
							</ul>
						</li>
                        <li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-shield-user-line"></i><span class="condense">Staff<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="/staff/staff-list" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Staff List</a></li>
								<li><a href="/staff/add-staff" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Add Staff</a></li>
							</ul>
						</li>
                         <li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-draft-line"></i><span class="condense">Attendance<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="/student/faculty-list" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Faculty</a></li>
								<li><a href="/student/student-list" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Student</a></li>
                                <li><a href="" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Staff</a></li>
							</ul>
						</li>
                        <li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-calendar-line"></i><span class="condense">TimeTable<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Faculty TimeTable</a></li>
								<li><a href="" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Student TimeTable</a></li>
							</ul>
						</li>
                        <li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-megaphone-line"></i><span class="condense">Announcements<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>All List</a></li>
								<li><a href="" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Add New</a></li>
							</ul>
						</li>
                        <li class="fx-sb-item">
							<a href="/chat/chatapp" class="fx-page-link">
								<i class="ri-edit-line"></i><span class="condense"><span
										class="hover-title">Exam Management</span> </span>
							</a>
						</li>
                        <li class="fx-sb-item-separator"></li>
						<li class="fx-sb-title condense"> Facilities</li>
                        <li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-community-line"></i><span class="condense">Hostel<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Room List</a></li>
								<li><a href="" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Room Type</a></li>
							</ul>
						</li>
                        <li class="fx-sb-item sb-drop-item">
							<a href="javascript:void(0)" class="fx-drop-toggle">
								<i class="ri-bus-line"></i><span class="condense">Transport<i
										class="drop-arrow ri-arrow-down-s-line"></i></span></a>
							<ul class="fx-sb-drop condense">
								<li><a href="" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Vehicle List</a></li>
								<li><a href="" class="fx-page-link drop"><i
											class="ri-git-commit-line"></i>Add Vehicle</a></li>
							</ul>
						</li>
                        <li class="fx-sb-item">
							<a href="/chat/chatapp" class="fx-page-link">
								<i class="ri-leaf-line"></i><span class="condense"><span
										class="hover-title">Alumni Management</span> </span>
							</a>
						</li>
                        <li class="fx-sb-item-separator"></li>
						<li class="fx-sb-title condense">Finance Management</li>
                        <li class="fx-sb-item">
							<a href="/chat/chatapp" class="fx-page-link">
								<i class="ri-refund-2-line"></i><span class="condense"><span
										class="hover-title">Financial Report</span> </span>
							</a>
						</li>
                        <li class="fx-sb-item">
							<a href="/chat/chatapp" class="fx-page-link">
								<i class="ri-price-tag-3-fill"></i><span class="condense"><span
										class="hover-title">Fees Management</span> </span>
							</a>
						</li>

{#						<li class="fx-sb-item-separator"></li>#}
{#						<li class="fx-sb-title condense">Pages</li>#}
{#						<li class="fx-sb-item sb-drop-item">#}
{#							<a href="javascript:void(0)" class="fx-drop-toggle">#}
{#								<i class="ri-pages-line"></i><span class="condense">Authentication<i#}
{#										class="drop-arrow ri-arrow-down-s-line"></i></span></a>#}
{#							<ul class="fx-sb-drop condense">#}
{#								<li><a href="/auth/" class="fx-page-link drop"><i#}
{#											class="ri-git-commit-line"></i>Login</a></li>#}
{#								<li><a href="/auth/forgot-password" class="fx-page-link drop"><i#}
{#											class="ri-git-commit-line"></i>Reset password</a></li>#}
{#								<li><a href="" class="fx-page-link drop"><i#}
{#											class="ri-git-commit-line"></i>Remember</a></li>#}
{#							</ul>#}
{#						</li>#}
{#						<li class="fx-sb-item sb-drop-item">#}
{#							<a href="javascript:void(0)" class="fx-drop-toggle">#}
{#								<i class="ri-service-line"></i><span class="condense">Service pages<i#}
{#										class="drop-arrow ri-arrow-down-s-line"></i></span></a>#}
{#							<ul class="fx-sb-drop condense">#}
{#								<li><a href="404-error-page.html" class="fx-page-link drop"><i#}
{#											class="ri-git-commit-line"></i>404 error</a></li>#}
{#								<li><a href="404-error-page-2.html" class="fx-page-link drop"><i#}
{#											class="ri-git-commit-line"></i>404 error 2</a></li>#}
{#								<li><a href="maintenance.html" class="fx-page-link drop"><i#}
{#											class="ri-git-commit-line"></i>Maintenance</a></li>#}
{#								<li><a href="maintenance-2.html" class="fx-page-link drop"><i#}
{#											class="ri-git-commit-line"></i>Maintenance 2</a></li>#}
{#							</ul>#}
{#						</li>#}
{#						<li class="fx-sb-item-separator"></li>#}
{#						<li class="fx-sb-title condense">Settings</li>#}
                        <li class="fx-sb-item-separator"></li>
						<li class="fx-sb-title condense"> Other</li>
						<li class="fx-sb-item">
							<a href="/chat/chatapp" class="fx-page-link">
								<i class="ri-message-3-line"></i><span class="condense"><span
										class="hover-title">Chatapp</span> </span>
							</a>
						</li>
						<li class="fx-sb-item">
							<a href="/faculty/faculty-role" class="fx-page-link">
								<i class="ri-magic-line"></i><span class="condense"><span
										class="hover-title">Role</span></span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>